<h1>Log in</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-4">
    <%= form_tag("/login", method: "post") do %>
      <%= label_tag(:email, "Email:") %>
      <%= text_field_tag :email,nil, class: 'form-control' %>
      <%= label_tag(:password, "Password:") %>
      <%= password_field_tag :password ,nil, class: 'form-control' %>
      <%= submit_tag("Log in", class: "btn btn-primary") %>
    <% end %>
    <p>New User? <%= link_to 'Sign up!', signup_path %></p>
  </div>
</div>


