  <li>
    <span class="name"><%= link_to comment.user.name, comment.user %></span>
    <span class="content"><%= comment.content %></span>  
    <span class="timestamp"><%= comment.created_at %></span>      
  </li>
