<div class='commentform'>
  <p>Add your comment:</span>
  <%= form_for [@recipe, @comment] do |f|%>  
    <%= f.text_area :content, class: 'content' %>
    <%= f.submit 'Submit',  class: 'btn btn-primary'%>
  <%end%>
</div>