<li>  
  <%= image_tag(recipe.image.url, size: "50", class: "image") %>  
  <span class="title"><%= link_to recipe.title, recipe_path(recipe) %></span>
  <span class="ingredients"><%= recipe.ingredients %></span>
  <span class="timestamp">
    Created at: <%= recipe.created_at.to_formatted_s(:long_ordinal) %>
    <% if current_user?(recipe.user) %>
      <%= link_to "delete", recipe_path(recipe), method: :delete, data: { confirm: "Do you want to delete this recipe?" } %>
    <% end %>
  </span>
</li>
