<%= form_for(@recipe) do |f| %>
  <%= render 'shared/errors', object: f.object %>
  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>
  <%= f.label :ingredients %>
  <%= f.text_area :ingredients, class: 'form-control'  %>
  <%= f.label :description %>
  <%= f.text_area :description, :rows => 10, class: 'form-control'%>
  <%= f.label :servings %>
  <%= f.select :servings, [1, 2, 3, 4, 5, 6], :prompt => 'Select...'%><br><br>
  <%= f.label :duration, "Duration (minutes)" %>
  <%= f.select :duration, [5,10,15,20,25,30,35,45,60,90,120,150,180,210,240,300], :prompt => 'Select...'%><br><br>
  <%= f.label "For vegetarians:" %>
  <%= f.check_box :vegeterian %>
  <p>Upload a photo for your recipe:<%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png'%></p><br>
  <%= f.submit yield(:button_text), class: 'btn btn-primary'%>
<% end %>
