<div class='recipe'>
  
  <h1><%= @recipe.title %></h1>
  
  <% if @recipe.vegeterian %>
    <h2><%= "Vegetarian"%></h2>
  <% end%>

  <%= image_tag @recipe.image.url, class:"image" if @recipe.image? %> 
  
  <h2>Ingredients:</h2>
  <div class="text">
    <%= simple_format(@recipe.ingredients)%>
  </div>
  
  <h2>Instructions:</h2>
  <div class="text">
    <%= simple_format(@recipe.description)%>
  </div>

  <% if @recipe.duration %>
    <p>Duration: <%=@recipe.duration%> minutes</p>
  <%end%>
  
  <% if @recipe.servings %>
    <p>Servings: <%=@recipe.servings%></p>
  <%end%>
  </div>
  <%= render 'comments/comment_form' %>
  
  <% if @recipe.comments.any? %>    
    <ol class="comments">
      <%= render @comments %>
    </ol>
    <%= will_paginate @comments %>
  <% end %>

</div>





