<%= form_for(@user) do |f| %>
  <%= render 'shared/errors', object: f.object %>
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>
  <%= f.label :email %>
  <%= f.text_field :email, class: 'form-control'%>
  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>
  <%= f.label :image, "Upload your profile photo" %>  
  <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png'%>
  <%= f.submit yield(:button_text), class: 'btn btn-primary'%>
<% end %>