
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>  
        <%= image_tag @user.image.url size: "100" if @user.image? %>      
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
  <% if @user.recipes.any?%>
    <ol class="recipes">
      <%= render @recipes %>
    </ol>
    <%= will_paginate @recipes %>
  <% end %>
  </div>
</div>

