<%= form_for :search_recipes, url: root_path, method: :get do |f| %>
  <%= f.text_field :query, value: params[:search_recipes].presence && params[:search_recipes][:query] %>
  <%= f.submit 'Search' %>
<% end %>

<% unless @recipes.nil? %>
  <% if @recipes.empty? %>
    <h2>No recipes found matching your query.</h2>
  <% else %>
    <h2>Search results</h2>

<table >
  <% @recipes.each_slice(3) do |slice| %>   
    <tr>
      <% slice.each do |recipe| %>
        <td> 
          <div class='search-result'>
              <%=link_to  image_tag(recipe.image.url, size: 100), recipe_path(recipe.id) %>
              <span class="title"><%= link_to recipe.title, recipe_path(recipe.id) %></span>
          </div>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
    
  <% end %>
<% end %>
