  <div>      
      <h1>Be a Master Chef!</h1>      
      <%= image_tag("dishes.jpeg", alt: "Dishes picture", id: "logo")%>
      <h2>
        Discover hundreds of recipes for your favourite dishes!
      </h2>
      <% if logged_in? %>
      <div class="center">
        <%= link_to "Create a recipe", new_recipe_path, class: "btn btn-lg btn-primary" %>     
      </div> 
       Find recipe:  
        <%= render 'shared/search_form' %>        
      <% else %>
      <div class="center">
        <%= link_to "Create a recipe", login_path, class: "btn btn-lg btn-primary" %>
      </div>  
      <% end %>
  </div>
  
  
