@import "bootstrap-sprockets";
@import "bootstrap";


body {
    padding-top: 60px;
  }
  
  section {
    overflow: auto;
  }
  
  textarea {
    resize: vertical;
  }
  
  .center {
    text-align: center;
  }
  
  .center h1 {
    margin-bottom: 10px;
  }
  
  
  h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }
  
  h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
  }
  
  p {
    font-size: 1.1em;
    line-height: 1.7em;
  }


  #logo {
    display: block;
    margin-left: auto;
    margin-right: auto 
  }

  
  footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid  #eaeaea;
    color:  #777;
    a {
      color:  #555;
      &:hover {
        color: #222;
      }
    }
    small {
      float: left;
    }
    ul {
      float: right;
      list-style: none;
      li {
        float: left;
        margin-left: 15px;
      }
    }
  }

  #error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
  }
  
  .field_with_errors {
    @extend .has-error;
    .form-control {
      color: $state-danger-text;
    }
  }


.recipes {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .title {
    margin-top: 5px;    
    padding-top: 0;

  }
  .ingredients {
    display: block;
    margin-left: 60px;
    height: 50%
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .image {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}


.recipe {
  .image {
    display: block;
    margin-left: auto;
    margin-right: auto 
  }

  .text{
    padding-left: 20%;
    padding-right: 20%;
  }
}

table {
  display: block;
}

tbody {
  display: block;
}

tr{
  display: block;
  margin-bottom: 2em;
}

td{
 padding-right: 30px;
}

.search-result{
  display: block;
  .title{
    display: block;
  }
}

.commentform {
  .content {
    width:25%;
  }
  p {
    font-weight: bold;
    }
}

.comments {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
  }
  .name {
    margin-top: 5px;    
    padding-top: 0;

  }
  .content {
    display: block;
  }
  .timestamp {
    color: $gray-light;
    display: block;
  }
}


.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}






